openapi: 3.0.3
info:
  title: 'API ЦНАП Дружківка'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://estater.biz'
paths:
  /api/v1/queues:
    get:
      summary: 'List of queues'
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Номер страницы с результатами выдачи'
          example: 16
          required: false
          schema:
            type: integer
            description: 'Номер страницы с результатами выдачи'
            example: 16
        -
          in: query
          name: sort
          description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
          example: neque
          required: false
          schema:
            type: string
            description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
            example: neque
        -
          in: query
          name: status
          description: 'Статус очереди'
          example: 12
          required: false
          schema:
            type: integer
            description: 'Статус очереди'
            example: 12
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Queues
      security: []
  /api/v1/queue:
    post:
      summary: 'Create queue'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Queues
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Название очереди'
                  example: dolorem
                status:
                  type: integer
                  description: 'optional Статус очереди (1 - активная, 0 - не активная)'
                  example: 8
                is_cron:
                  type: integer
                  description: 'optional Название очереди'
                  example: 7
                slot_duration:
                  type: integer
                  description: 'optional Длительность слота, мин'
                  example: 8
                mon:
                  type: string
                  description: 'optional Время работы в понедельник (08:00-17:00)'
                  example: laborum
                tue:
                  type: string
                  description: 'optional Время работы во вторник'
                  example: veniam
                wed:
                  type: string
                  description: 'optional Время работы в среду'
                  example: omnis
                thu:
                  type: string
                  description: 'optional Время работы в четверг'
                  example: dolores
                fri:
                  type: string
                  description: 'optional Время работы в пятницу'
                  example: beatae
                sat:
                  type: string
                  description: 'optional Время работы в субботу'
                  example: ut
                sun:
                  type: string
                  description: 'optional Время работы в воскресенье'
                  example: incidunt
                break:
                  type: string
                  description: 'optional Время перерыва (12:00-13:00)'
                  example: est
                service_id:
                  type: array
                  description: 'optional Массив IDs сервисов'
                  example:
                    - 19
                  items:
                    type: integer
              required:
                - name
  '/api/v1/queue/{id}':
    get:
      summary: 'Get specified queue'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Queues
      security: []
    put:
      summary: 'Update queue'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Queues
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Название очереди'
                  example: rem
                status:
                  type: integer
                  description: 'optional Статус очереди (1 - активная, 0 - не активная)'
                  example: 10
                is_cron:
                  type: integer
                  description: 'optional Название очереди'
                  example: 15
                slot_duration:
                  type: integer
                  description: 'optional Длительность слота, мин'
                  example: 16
                mon:
                  type: string
                  description: 'optional Время работы в понедельник (08:00-17:00)'
                  example: aut
                tue:
                  type: string
                  description: 'optional Время работы во вторник'
                  example: commodi
                wed:
                  type: string
                  description: 'optional Время работы в среду'
                  example: quis
                thu:
                  type: string
                  description: 'optional Время работы в четверг'
                  example: nostrum
                fri:
                  type: string
                  description: 'optional Время работы в пятницу'
                  example: voluptas
                sat:
                  type: string
                  description: 'optional Время работы в субботу'
                  example: sunt
                sun:
                  type: string
                  description: 'optional Время работы в воскресенье'
                  example: labore
                break:
                  type: string
                  description: 'optional Время перерыва (12:00-13:00)'
                  example: quo
                service_id:
                  type: array
                  description: 'optional Массив IDs сервисов'
                  example:
                    - 1
                  items:
                    type: integer
              required:
                - name
    delete:
      summary: 'Delete specified queue'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Queues
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the queue.'
        example: 16
        required: true
        schema:
          type: integer
  /api/v1/web/queues:
    get:
      summary: 'List of queues'
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Номер страницы с результатами выдачи'
          example: 15
          required: false
          schema:
            type: integer
            description: 'Номер страницы с результатами выдачи'
            example: 15
        -
          in: query
          name: sort
          description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
          example: voluptate
          required: false
          schema:
            type: string
            description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
            example: voluptate
        -
          in: query
          name: status
          description: 'Статус очереди'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Статус очереди'
            example: 20
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  current_page: 15
                  data: []
                  first_page_url: 'https://estater.biz/api/v1/web/queues?page=1'
                  from: null
                  last_page: 1
                  last_page_url: 'https://estater.biz/api/v1/web/queues?page=1'
                  links:
                    -
                      url: 'https://estater.biz/api/v1/web/queues?page=14'
                      label: '&laquo; Previous'
                      active: false
                    -
                      url: 'https://estater.biz/api/v1/web/queues?page=1'
                      label: '1'
                      active: false
                    -
                      url: null
                      label: 'Next &raquo;'
                      active: false
                  next_page_url: null
                  path: 'https://estater.biz/api/v1/web/queues'
                  per_page: 15
                  prev_page_url: 'https://estater.biz/api/v1/web/queues?page=14'
                  to: null
                  total: 1
                properties:
                  current_page:
                    type: integer
                    example: 15
                  data:
                    type: array
                    example: []
                  first_page_url:
                    type: string
                    example: 'https://estater.biz/api/v1/web/queues?page=1'
                  from:
                    type: string
                    example: null
                  last_page:
                    type: integer
                    example: 1
                  last_page_url:
                    type: string
                    example: 'https://estater.biz/api/v1/web/queues?page=1'
                  links:
                    type: array
                    example:
                      -
                        url: 'https://estater.biz/api/v1/web/queues?page=14'
                        label: '&laquo; Previous'
                        active: false
                      -
                        url: 'https://estater.biz/api/v1/web/queues?page=1'
                        label: '1'
                        active: false
                      -
                        url: null
                        label: 'Next &raquo;'
                        active: false
                    items:
                      type: object
                  next_page_url:
                    type: string
                    example: null
                  path:
                    type: string
                    example: 'https://estater.biz/api/v1/web/queues'
                  per_page:
                    type: integer
                    example: 15
                  prev_page_url:
                    type: string
                    example: 'https://estater.biz/api/v1/web/queues?page=14'
                  to:
                    type: string
                    example: null
                  total:
                    type: integer
                    example: 1
      tags:
        - Queues
      security: []
  '/api/v1/web/queue/{id}':
    get:
      summary: 'Get specified queue'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Not found.'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Not found.'
      tags:
        - Queues
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the queue.'
        example: 7
        required: true
        schema:
          type: integer
  /api/v1/cabinet/queues:
    get:
      summary: 'List of queues'
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Номер страницы с результатами выдачи'
          example: 10
          required: false
          schema:
            type: integer
            description: 'Номер страницы с результатами выдачи'
            example: 10
        -
          in: query
          name: sort
          description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
          example: est
          required: false
          schema:
            type: string
            description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
            example: est
        -
          in: query
          name: status
          description: 'Статус очереди'
          example: 12
          required: false
          schema:
            type: integer
            description: 'Статус очереди'
            example: 12
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Queues
      security: []
  '/api/v1/cabinet/queue/{id}':
    get:
      summary: 'Get specified queue'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Queues
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the queue.'
        example: 9
        required: true
        schema:
          type: integer
  /api/v1/law_categories:
    get:
      summary: 'List of law category'
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Номер страницы с результатами выдачи'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Номер страницы с результатами выдачи'
            example: 1
        -
          in: query
          name: sort
          description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
          example: dolor
          required: false
          schema:
            type: string
            description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
            example: dolor
        -
          in: query
          name: search
          description: 'Строка, которая должна содержаться в результатах выдачи'
          example: voluptatem
          required: false
          schema:
            type: string
            description: 'Строка, которая должна содержаться в результатах выдачи'
            example: voluptatem
        -
          in: query
          name: status
          description: 'Статус отображения (возможные значения visible, hidden)'
          example: deleniti
          required: false
          schema:
            type: string
            description: 'Статус отображения (возможные значения visible, hidden)'
            example: deleniti
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en)'
          example: doloribus
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en)'
            example: doloribus
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Category of Laws'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: 'Must be one of <code>visible</code> or <code>hidden</code>.'
                  example: visible
                lang:
                  type: string
                  description: 'Must be one of <code>uk</code> or <code>en</code>.'
                  example: uk
      security: []
  /api/v1/law_category:
    post:
      summary: 'Create law category'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Category of Laws'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: 'Статус отображения (1-отображается, 0-скрыто)'
                  example: 14
                lang:
                  type: string
                  description: 'Must be one of <code>uk</code> or <code>en</code>.'
                  example: en
                'name:en':
                  type: string
                  description: 'Название на английском'
                  example: quia
                'name:uk':
                  type: string
                  description: 'Название на украинском'
                  example: illo
                parent_id:
                  type: integer
                  description: 'optional ID родительской категории из таблицы law_categories'
                  example: 7
              required:
                - 'name:en'
                - 'name:uk'
  '/api/v1/law_category/{id}':
    get:
      summary: 'Get specified link category'
      description: ''
      parameters:
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en)'
          example: consequuntur
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en)'
            example: consequuntur
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Category of Laws'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: 'Must be one of <code>visible</code> or <code>hidden</code>.'
                  example: visible
                lang:
                  type: string
                  description: 'Must be one of <code>uk</code> or <code>en</code>.'
                  example: en
      security: []
    put:
      summary: 'Update specified law category'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Category of Laws'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: 'Статус отображения (1-отображается, 0-скрыто)'
                  example: 1
                lang:
                  type: string
                  description: 'Must be one of <code>uk</code> or <code>en</code>.'
                  example: en
                'name:en':
                  type: string
                  description: 'optional Название на английском'
                  example: harum
                'name:uk':
                  type: string
                  description: 'optional Название на украинском'
                  example: tempora
                parent_id:
                  type: integer
                  description: 'optional ID родительской категории из тиблици law_categories'
                  example: 16
    delete:
      summary: 'Delete specified law category'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Category of Laws'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the law category.'
        example: explicabo
        required: true
        schema:
          type: string
  /api/v1/web/law_categories:
    get:
      summary: 'List of law category'
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Номер страницы с результатами выдачи'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Номер страницы с результатами выдачи'
            example: 20
        -
          in: query
          name: sort
          description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
          example: repellat
          required: false
          schema:
            type: string
            description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
            example: repellat
        -
          in: query
          name: search
          description: 'Строка, которая должна содержаться в результатах выдачи'
          example: et
          required: false
          schema:
            type: string
            description: 'Строка, которая должна содержаться в результатах выдачи'
            example: et
        -
          in: query
          name: status
          description: 'Статус отображения (возможные значения visible, hidden)'
          example: maxime
          required: false
          schema:
            type: string
            description: 'Статус отображения (возможные значения visible, hidden)'
            example: maxime
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en)'
          example: aliquid
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en)'
            example: aliquid
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  current_page: 20
                  data: []
                  first_page_url: 'https://estater.biz/api/v1/web/law_categories?page=1'
                  from: null
                  last_page: 1
                  last_page_url: 'https://estater.biz/api/v1/web/law_categories?page=1'
                  links:
                    -
                      url: 'https://estater.biz/api/v1/web/law_categories?page=19'
                      label: '&laquo; Previous'
                      active: false
                    -
                      url: 'https://estater.biz/api/v1/web/law_categories?page=1'
                      label: '1'
                      active: false
                    -
                      url: null
                      label: 'Next &raquo;'
                      active: false
                  next_page_url: null
                  path: 'https://estater.biz/api/v1/web/law_categories'
                  per_page: 15
                  prev_page_url: 'https://estater.biz/api/v1/web/law_categories?page=19'
                  to: null
                  total: 0
                properties:
                  current_page:
                    type: integer
                    example: 20
                  data:
                    type: array
                    example: []
                  first_page_url:
                    type: string
                    example: 'https://estater.biz/api/v1/web/law_categories?page=1'
                  from:
                    type: string
                    example: null
                  last_page:
                    type: integer
                    example: 1
                  last_page_url:
                    type: string
                    example: 'https://estater.biz/api/v1/web/law_categories?page=1'
                  links:
                    type: array
                    example:
                      -
                        url: 'https://estater.biz/api/v1/web/law_categories?page=19'
                        label: '&laquo; Previous'
                        active: false
                      -
                        url: 'https://estater.biz/api/v1/web/law_categories?page=1'
                        label: '1'
                        active: false
                      -
                        url: null
                        label: 'Next &raquo;'
                        active: false
                    items:
                      type: object
                  next_page_url:
                    type: string
                    example: null
                  path:
                    type: string
                    example: 'https://estater.biz/api/v1/web/law_categories'
                  per_page:
                    type: integer
                    example: 15
                  prev_page_url:
                    type: string
                    example: 'https://estater.biz/api/v1/web/law_categories?page=19'
                  to:
                    type: string
                    example: null
                  total:
                    type: integer
                    example: 0
      tags:
        - 'Category of Laws'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: 'Must be one of <code>visible</code> or <code>hidden</code>.'
                  example: hidden
                lang:
                  type: string
                  description: 'Must be one of <code>uk</code> or <code>en</code>.'
                  example: en
      security: []
  '/api/v1/web/law_category/{id}':
    get:
      summary: 'Get specified link category'
      description: ''
      parameters:
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en)'
          example: id
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en)'
            example: id
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Ресурс не знайдено.'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Ресурс не знайдено.'
      tags:
        - 'Category of Laws'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: 'Must be one of <code>visible</code> or <code>hidden</code>.'
                  example: visible
                lang:
                  type: string
                  description: 'Must be one of <code>uk</code> or <code>en</code>.'
                  example: uk
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the law category.'
        example: quas
        required: true
        schema:
          type: string
  /api/v1/link_categories:
    get:
      summary: 'List of link category'
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Номер страницы с результатами выдачи'
          example: 18
          required: false
          schema:
            type: integer
            description: 'Номер страницы с результатами выдачи'
            example: 18
        -
          in: query
          name: sort
          description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
          example: sed
          required: false
          schema:
            type: string
            description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
            example: sed
        -
          in: query
          name: search
          description: 'Строка, которая должна содержаться в результатах выдачи'
          example: eos
          required: false
          schema:
            type: string
            description: 'Строка, которая должна содержаться в результатах выдачи'
            example: eos
        -
          in: query
          name: status
          description: 'Статус отображения (возможные значения visible, hidden)'
          example: omnis
          required: false
          schema:
            type: string
            description: 'Статус отображения (возможные значения visible, hidden)'
            example: omnis
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en)'
          example: reprehenderit
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en)'
            example: reprehenderit
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Category of Links'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: 'Must be one of <code>visible</code> or <code>hidden</code>.'
                  example: visible
                lang:
                  type: string
                  description: 'Must be one of <code>uk</code> or <code>en</code>.'
                  example: en
      security: []
  /api/v1/link_category:
    post:
      summary: 'Create link category'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Category of Links'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: 'Статус отображения (1-отображается, 0-скрыто)'
                  example: 12
                lang:
                  type: string
                  description: 'Must be one of <code>uk</code> or <code>en</code>.'
                  example: en
                'name:en':
                  type: string
                  description: 'Название на английском'
                  example: velit
                'name:uk':
                  type: string
                  description: 'Название на украинском'
                  example: porro
                parent_id:
                  type: integer
                  description: 'optional ID родительской категории из тиблици Link_categories'
                  example: 17
              required:
                - 'name:en'
                - 'name:uk'
  '/api/v1/link_category/{id}':
    get:
      summary: 'Get specified link category'
      description: ''
      parameters:
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en)'
          example: non
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en)'
            example: non
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Category of Links'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: 'Must be one of <code>visible</code> or <code>hidden</code>.'
                  example: visible
                lang:
                  type: string
                  description: 'Must be one of <code>uk</code> or <code>en</code>.'
                  example: en
      security: []
    put:
      summary: 'Update specified link category'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Category of Links'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: integer
                  description: 'Статус отображения (1-отображается, 0-скрыто)'
                  example: 4
                lang:
                  type: string
                  description: 'Must be one of <code>uk</code> or <code>en</code>.'
                  example: uk
                'name:en':
                  type: string
                  description: 'optional Название на английском'
                  example: neque
                'name:uk':
                  type: string
                  description: 'optional Название на украинском'
                  example: rerum
                parent_id:
                  type: integer
                  description: 'optional ID родительской категории из тиблици Link_categories'
                  example: 12
    delete:
      summary: 'Delete specified link category'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Category of Links'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the link category.'
        example: beatae
        required: true
        schema:
          type: string
  /api/v1/web/link_categories:
    get:
      summary: 'List of link category'
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Номер страницы с результатами выдачи'
          example: 17
          required: false
          schema:
            type: integer
            description: 'Номер страницы с результатами выдачи'
            example: 17
        -
          in: query
          name: sort
          description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
          example: recusandae
          required: false
          schema:
            type: string
            description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
            example: recusandae
        -
          in: query
          name: search
          description: 'Строка, которая должна содержаться в результатах выдачи'
          example: ex
          required: false
          schema:
            type: string
            description: 'Строка, которая должна содержаться в результатах выдачи'
            example: ex
        -
          in: query
          name: status
          description: 'Статус отображения (возможные значения visible, hidden)'
          example: et
          required: false
          schema:
            type: string
            description: 'Статус отображения (возможные значения visible, hidden)'
            example: et
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en)'
          example: velit
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en)'
            example: velit
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  current_page: 17
                  data: []
                  first_page_url: 'https://estater.biz/api/v1/web/link_categories?page=1'
                  from: null
                  last_page: 1
                  last_page_url: 'https://estater.biz/api/v1/web/link_categories?page=1'
                  links:
                    -
                      url: 'https://estater.biz/api/v1/web/link_categories?page=16'
                      label: '&laquo; Назад'
                      active: false
                    -
                      url: 'https://estater.biz/api/v1/web/link_categories?page=1'
                      label: '1'
                      active: false
                    -
                      url: null
                      label: 'Далі &raquo;'
                      active: false
                  next_page_url: null
                  path: 'https://estater.biz/api/v1/web/link_categories'
                  per_page: 15
                  prev_page_url: 'https://estater.biz/api/v1/web/link_categories?page=16'
                  to: null
                  total: 0
                properties:
                  current_page:
                    type: integer
                    example: 17
                  data:
                    type: array
                    example: []
                  first_page_url:
                    type: string
                    example: 'https://estater.biz/api/v1/web/link_categories?page=1'
                  from:
                    type: string
                    example: null
                  last_page:
                    type: integer
                    example: 1
                  last_page_url:
                    type: string
                    example: 'https://estater.biz/api/v1/web/link_categories?page=1'
                  links:
                    type: array
                    example:
                      -
                        url: 'https://estater.biz/api/v1/web/link_categories?page=16'
                        label: '&laquo; Назад'
                        active: false
                      -
                        url: 'https://estater.biz/api/v1/web/link_categories?page=1'
                        label: '1'
                        active: false
                      -
                        url: null
                        label: 'Далі &raquo;'
                        active: false
                    items:
                      type: object
                  next_page_url:
                    type: string
                    example: null
                  path:
                    type: string
                    example: 'https://estater.biz/api/v1/web/link_categories'
                  per_page:
                    type: integer
                    example: 15
                  prev_page_url:
                    type: string
                    example: 'https://estater.biz/api/v1/web/link_categories?page=16'
                  to:
                    type: string
                    example: null
                  total:
                    type: integer
                    example: 0
      tags:
        - 'Category of Links'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: 'Must be one of <code>visible</code> or <code>hidden</code>.'
                  example: visible
                lang:
                  type: string
                  description: 'Must be one of <code>uk</code> or <code>en</code>.'
                  example: uk
      security: []
  '/api/v1/web/link_category/{id}':
    get:
      summary: 'Get specified link category'
      description: ''
      parameters:
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en)'
          example: enim
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en)'
            example: enim
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Ресурс не знайдено.'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Ресурс не знайдено.'
      tags:
        - 'Category of Links'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  description: 'Must be one of <code>visible</code> or <code>hidden</code>.'
                  example: hidden
                lang:
                  type: string
                  description: 'Must be one of <code>uk</code> or <code>en</code>.'
                  example: uk
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the link category.'
        example: eum
        required: true
        schema:
          type: string
  /api/v1/page_categories:
    get:
      summary: 'List of page category'
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Номер страницы с результатами выдачи'
          example: 3
          required: false
          schema:
            type: integer
            description: 'Номер страницы с результатами выдачи'
            example: 3
        -
          in: query
          name: sort
          description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
          example: ex
          required: false
          schema:
            type: string
            description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
            example: ex
        -
          in: query
          name: search
          description: 'Строка, которая должна содержаться в результатах выдачи'
          example: assumenda
          required: false
          schema:
            type: string
            description: 'Строка, которая должна содержаться в результатах выдачи'
            example: assumenda
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en)'
          example: minus
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en)'
            example: minus
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Category of Pages'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                lang:
                  type: string
                  description: 'Must be one of <code>uk</code> or <code>en</code>.'
                  example: uk
      security: []
  /api/v1/page_category:
    post:
      summary: 'Create page category'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Category of Pages'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lang:
                  type: string
                  description: 'Must be one of <code>uk</code> or <code>en</code>.'
                  example: uk
                'name:en':
                  type: string
                  description: 'Название на английском'
                  example: quia
                'name:uk':
                  type: string
                  description: 'Название на украинском'
                  example: perspiciatis
                parent_id:
                  type: integer
                  description: 'optional ID родительской категории из тиблици Link_categories'
                  example: 1
              required:
                - 'name:en'
                - 'name:uk'
  '/api/v1/page_category/{id}':
    get:
      summary: 'Get specified page category'
      description: ''
      parameters:
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en)'
          example: molestiae
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en)'
            example: molestiae
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Category of Pages'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                lang:
                  type: string
                  description: 'Must be one of <code>uk</code> or <code>en</code>.'
                  example: en
      security: []
    put:
      summary: 'Update specified page category'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Category of Pages'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                lang:
                  type: string
                  description: 'Must be one of <code>uk</code> or <code>en</code>.'
                  example: uk
                'name:en':
                  type: string
                  description: 'optional Название на английском'
                  example: sit
                'name:uk':
                  type: string
                  description: 'optional Название на украинском'
                  example: labore
                parent_id:
                  type: integer
                  description: 'optional ID родительской категории из тиблици Link_categories'
                  example: 1
    delete:
      summary: 'Delete specified page category'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Category of Pages'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the page category.'
        example: doloribus
        required: true
        schema:
          type: string
  /api/v1/web/page_categories:
    get:
      summary: 'List of page category'
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Номер страницы с результатами выдачи'
          example: 10
          required: false
          schema:
            type: integer
            description: 'Номер страницы с результатами выдачи'
            example: 10
        -
          in: query
          name: sort
          description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
          example: sint
          required: false
          schema:
            type: string
            description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
            example: sint
        -
          in: query
          name: search
          description: 'Строка, которая должна содержаться в результатах выдачи'
          example: delectus
          required: false
          schema:
            type: string
            description: 'Строка, которая должна содержаться в результатах выдачи'
            example: delectus
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en)'
          example: omnis
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en)'
            example: omnis
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  current_page: 10
                  data: []
                  first_page_url: 'https://estater.biz/api/v1/web/page_categories?page=1'
                  from: null
                  last_page: 1
                  last_page_url: 'https://estater.biz/api/v1/web/page_categories?page=1'
                  links:
                    -
                      url: 'https://estater.biz/api/v1/web/page_categories?page=9'
                      label: '&laquo; Назад'
                      active: false
                    -
                      url: 'https://estater.biz/api/v1/web/page_categories?page=1'
                      label: '1'
                      active: false
                    -
                      url: null
                      label: 'Далі &raquo;'
                      active: false
                  next_page_url: null
                  path: 'https://estater.biz/api/v1/web/page_categories'
                  per_page: 15
                  prev_page_url: 'https://estater.biz/api/v1/web/page_categories?page=9'
                  to: null
                  total: 0
                properties:
                  current_page:
                    type: integer
                    example: 10
                  data:
                    type: array
                    example: []
                  first_page_url:
                    type: string
                    example: 'https://estater.biz/api/v1/web/page_categories?page=1'
                  from:
                    type: string
                    example: null
                  last_page:
                    type: integer
                    example: 1
                  last_page_url:
                    type: string
                    example: 'https://estater.biz/api/v1/web/page_categories?page=1'
                  links:
                    type: array
                    example:
                      -
                        url: 'https://estater.biz/api/v1/web/page_categories?page=9'
                        label: '&laquo; Назад'
                        active: false
                      -
                        url: 'https://estater.biz/api/v1/web/page_categories?page=1'
                        label: '1'
                        active: false
                      -
                        url: null
                        label: 'Далі &raquo;'
                        active: false
                    items:
                      type: object
                  next_page_url:
                    type: string
                    example: null
                  path:
                    type: string
                    example: 'https://estater.biz/api/v1/web/page_categories'
                  per_page:
                    type: integer
                    example: 15
                  prev_page_url:
                    type: string
                    example: 'https://estater.biz/api/v1/web/page_categories?page=9'
                  to:
                    type: string
                    example: null
                  total:
                    type: integer
                    example: 0
      tags:
        - 'Category of Pages'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                lang:
                  type: string
                  description: 'Must be one of <code>uk</code> or <code>en</code>.'
                  example: uk
      security: []
  '/api/v1/web/page_category/{id}':
    get:
      summary: 'Get specified page category'
      description: ''
      parameters:
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en)'
          example: sunt
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en)'
            example: sunt
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: error
                  message: 'Ресурс не знайдено.'
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: 'Ресурс не знайдено.'
      tags:
        - 'Category of Pages'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                lang:
                  type: string
                  description: 'Must be one of <code>uk</code> or <code>en</code>.'
                  example: uk
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the page category.'
        example: blanditiis
        required: true
        schema:
          type: string
  /api/v1/news_categories:
    get:
      summary: 'List of news categories'
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Номер страницы с результатами выдачи.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Номер страницы с результатами выдачи.'
            example: 1
        -
          in: query
          name: status
          description: 'Статус отображения (возможные значения visible, hidden). Must be one of <code>visible</code> or <code>hidden</code>.'
          example: visible
          required: false
          schema:
            type: string
            description: 'Статус отображения (возможные значения visible, hidden). Must be one of <code>visible</code> or <code>hidden</code>.'
            example: visible
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en). Must be one of <code>uk</code> or <code>en</code>.'
          example: uk
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en). Must be one of <code>uk</code> or <code>en</code>.'
            example: uk
        -
          in: query
          name: sort
          description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
          example: maiores
          required: false
          schema:
            type: string
            description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
            example: maiores
        -
          in: query
          name: search
          description: 'Строка, которая должна содержаться в результатах выдачи'
          example: dicta
          required: false
          schema:
            type: string
            description: 'Строка, которая должна содержаться в результатах выдачи'
            example: dicta
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Category of news'
      security: []
  /api/v1/news_category:
    post:
      summary: 'Create news category'
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Номер страницы с результатами выдачи.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Номер страницы с результатами выдачи.'
            example: 1
        -
          in: query
          name: status
          description: 'Статус отображения (возможные значения visible, hidden). Must be one of <code>visible</code> or <code>hidden</code>.'
          example: hidden
          required: false
          schema:
            type: string
            description: 'Статус отображения (возможные значения visible, hidden). Must be one of <code>visible</code> or <code>hidden</code>.'
            example: hidden
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en). Must be one of <code>uk</code> or <code>en</code>.'
          example: en
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en). Must be one of <code>uk</code> or <code>en</code>.'
            example: en
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Category of news'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                'name:en':
                  type: string
                  description: 'Название на английском'
                  example: sit
                'name:uk':
                  type: string
                  description: 'Название на украинском'
                  example: nemo
                'meta_title:en':
                  type: string
                  description: 'Тег title на английском'
                  example: quibusdam
                'meta_title:uk':
                  type: string
                  description: 'Тег title на украинском'
                  example: ipsam
                'meta_description:en':
                  type: string
                  description: 'Тег description на английском'
                  example: voluptate
                'meta_description:uk':
                  type: string
                  description: 'Тег description на украинском'
                  example: eum
                status:
                  type: integer
                  description: 'Статус отображения (1-отображается, 0-скрыто)'
                  example: 4
              required:
                - 'name:en'
                - 'name:uk'
  '/api/v1/news_category/{id}':
    get:
      summary: 'Get specified news category'
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Номер страницы с результатами выдачи.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Номер страницы с результатами выдачи.'
            example: 1
        -
          in: query
          name: status
          description: 'Статус отображения (возможные значения visible, hidden). Must be one of <code>visible</code> or <code>hidden</code>.'
          example: hidden
          required: false
          schema:
            type: string
            description: 'Статус отображения (возможные значения visible, hidden). Must be one of <code>visible</code> or <code>hidden</code>.'
            example: hidden
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en)'
          example: eligendi
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en)'
            example: eligendi
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Category of news'
      security: []
    put:
      summary: 'Update specified news category'
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Номер страницы с результатами выдачи.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Номер страницы с результатами выдачи.'
            example: 1
        -
          in: query
          name: status
          description: 'Статус отображения (возможные значения visible, hidden). Must be one of <code>visible</code> or <code>hidden</code>.'
          example: hidden
          required: false
          schema:
            type: string
            description: 'Статус отображения (возможные значения visible, hidden). Must be one of <code>visible</code> or <code>hidden</code>.'
            example: hidden
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en). Must be one of <code>uk</code> or <code>en</code>.'
          example: en
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en). Must be one of <code>uk</code> or <code>en</code>.'
            example: en
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Category of news'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                'name:en':
                  type: string
                  description: 'Название на английском'
                  example: ratione
                'name:uk':
                  type: string
                  description: 'Название на украинском'
                  example: non
                'meta_title:en':
                  type: string
                  description: 'Тег title на английском'
                  example: magnam
                'meta_title:uk':
                  type: string
                  description: 'Тег title на украинском'
                  example: ipsam
                'meta_description:en':
                  type: string
                  description: 'Тег description на английском'
                  example: corporis
                'meta_description:uk':
                  type: string
                  description: 'Тег description на украинском'
                  example: modi
                status:
                  type: integer
                  description: 'Статус отображения (1-отображается, 0-скрыто)'
                  example: 11
    delete:
      summary: 'Delete specified news category'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Category of news'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the news category.'
        example: tempora
        required: true
        schema:
          type: string
  /api/v1/web/news_categories:
    get:
      summary: 'List of news categories'
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Номер страницы с результатами выдачи.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Номер страницы с результатами выдачи.'
            example: 1
        -
          in: query
          name: status
          description: 'Статус отображения (возможные значения visible, hidden). Must be one of <code>visible</code> or <code>hidden</code>.'
          example: visible
          required: false
          schema:
            type: string
            description: 'Статус отображения (возможные значения visible, hidden). Must be one of <code>visible</code> or <code>hidden</code>.'
            example: visible
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en). Must be one of <code>uk</code> or <code>en</code>.'
          example: uk
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en). Must be one of <code>uk</code> or <code>en</code>.'
            example: uk
        -
          in: query
          name: sort
          description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
          example: et
          required: false
          schema:
            type: string
            description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
            example: et
        -
          in: query
          name: search
          description: 'Строка, которая должна содержаться в результатах выдачи'
          example: aperiam
          required: false
          schema:
            type: string
            description: 'Строка, которая должна содержаться в результатах выдачи'
            example: aperiam
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  current_page: 1
                  data: []
                  first_page_url: 'https://estater.biz/api/v1/web/news_categories?page=1'
                  from: null
                  last_page: 1
                  last_page_url: 'https://estater.biz/api/v1/web/news_categories?page=1'
                  links:
                    -
                      url: null
                      label: '&laquo; Назад'
                      active: false
                    -
                      url: 'https://estater.biz/api/v1/web/news_categories?page=1'
                      label: '1'
                      active: true
                    -
                      url: null
                      label: 'Далі &raquo;'
                      active: false
                  next_page_url: null
                  path: 'https://estater.biz/api/v1/web/news_categories'
                  per_page: 15
                  prev_page_url: null
                  to: null
                  total: 0
                properties:
                  current_page:
                    type: integer
                    example: 1
                  data:
                    type: array
                    example: []
                  first_page_url:
                    type: string
                    example: 'https://estater.biz/api/v1/web/news_categories?page=1'
                  from:
                    type: string
                    example: null
                  last_page:
                    type: integer
                    example: 1
                  last_page_url:
                    type: string
                    example: 'https://estater.biz/api/v1/web/news_categories?page=1'
                  links:
                    type: array
                    example:
                      -
                        url: null
                        label: '&laquo; Назад'
                        active: false
                      -
                        url: 'https://estater.biz/api/v1/web/news_categories?page=1'
                        label: '1'
                        active: true
                      -
                        url: null
                        label: 'Далі &raquo;'
                        active: false
                    items:
                      type: object
                  next_page_url:
                    type: string
                    example: null
                  path:
                    type: string
                    example: 'https://estater.biz/api/v1/web/news_categories'
                  per_page:
                    type: integer
                    example: 15
                  prev_page_url:
                    type: string
                    example: null
                  to:
                    type: string
                    example: null
                  total:
                    type: integer
                    example: 0
      tags:
        - 'Category of news'
      security: []
  '/api/v1/web/news_category/{id}':
    get:
      summary: 'Get specified news category'
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Номер страницы с результатами выдачи.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Номер страницы с результатами выдачи.'
            example: 1
        -
          in: query
          name: status
          description: 'Статус отображения (возможные значения visible, hidden). Must be one of <code>visible</code> or <code>hidden</code>.'
          example: visible
          required: false
          schema:
            type: string
            description: 'Статус отображения (возможные значения visible, hidden). Must be one of <code>visible</code> or <code>hidden</code>.'
            example: visible
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en)'
          example: molestias
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en)'
            example: molestias
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The given data was invalid.'
                  errors:
                    lang:
                      - 'Вибране для lang значення не коректне.'
                properties:
                  message:
                    type: string
                    example: 'The given data was invalid.'
                  errors:
                    type: object
                    example:
                      lang:
                        - 'Вибране для lang значення не коректне.'
      tags:
        - 'Category of news'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the news category.'
        example: iste
        required: true
        schema:
          type: string
  /api/v1/categories:
    get:
      summary: 'List of categories'
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Номер страницы с результатами выдачи.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Номер страницы с результатами выдачи.'
            example: 1
        -
          in: query
          name: status
          description: 'Статус отображения (возможные значения visible, hidden). Must be one of <code>visible</code> or <code>hidden</code>.'
          example: visible
          required: false
          schema:
            type: string
            description: 'Статус отображения (возможные значения visible, hidden). Must be one of <code>visible</code> or <code>hidden</code>.'
            example: visible
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en). Must be one of <code>uk</code> or <code>en</code>.'
          example: en
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en). Must be one of <code>uk</code> or <code>en</code>.'
            example: en
        -
          in: query
          name: sort
          description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
          example: voluptatem
          required: false
          schema:
            type: string
            description: 'Поле для сортировки. По-умолчанию  ''id|desc'''
            example: voluptatem
        -
          in: query
          name: search
          description: 'Строка, которая должна содержаться в результатах выдачи'
          example: et
          required: false
          schema:
            type: string
            description: 'Строка, которая должна содержаться в результатах выдачи'
            example: et
        -
          in: query
          name: sector_id
          description: 'ID сферы услуг'
          example: 14
          required: false
          schema:
            type: integer
            description: 'ID сферы услуг'
            example: 14
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Category of services'
      security: []
  /api/v1/category:
    post:
      summary: 'Create category'
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Номер страницы с результатами выдачи.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Номер страницы с результатами выдачи.'
            example: 1
        -
          in: query
          name: status
          description: 'Статус отображения (возможные значения visible, hidden). Must be one of <code>visible</code> or <code>hidden</code>.'
          example: visible
          required: false
          schema:
            type: string
            description: 'Статус отображения (возможные значения visible, hidden). Must be one of <code>visible</code> or <code>hidden</code>.'
            example: visible
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en). Must be one of <code>uk</code> or <code>en</code>.'
          example: en
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en). Must be one of <code>uk</code> or <code>en</code>.'
            example: en
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Category of services'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                sector_id:
                  type: integer
                  description: 'ID сферы услуг'
                  example: 6
                'name:en':
                  type: string
                  description: 'Название на английском'
                  example: minus
                'name:uk':
                  type: string
                  description: 'Название на украинском'
                  example: sequi
                'meta_title:en':
                  type: string
                  description: 'Тег title на английском'
                  example: dolor
                'meta_title:uk':
                  type: string
                  description: 'Тег title на украинском'
                  example: tempora
                'meta_description:en':
                  type: string
                  description: 'Тег description на английском'
                  example: est
                'meta_description:uk':
                  type: string
                  description: 'Тег description на украинском'
                  example: qui
                status:
                  type: integer
                  description: 'Статус отображения (1-отображается, 0-скрыто)'
                  example: 8
              required:
                - sector_id
                - 'name:en'
                - 'name:uk'
  '/api/v1/category/{id}':
    get:
      summary: 'Get specified category'
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Номер страницы с результатами выдачи.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Номер страницы с результатами выдачи.'
            example: 1
        -
          in: query
          name: status
          description: 'Статус отображения (возможные значения visible, hidden). Must be one of <code>visible</code> or <code>hidden</code>.'
          example: visible
          required: false
          schema:
            type: string
            description: 'Статус отображения (возможные значения visible, hidden). Must be one of <code>visible</code> or <code>hidden</code>.'
            example: visible
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en)'
          example: perspiciatis
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en)'
            example: perspiciatis
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Category of services'
      security: []
    put:
      summary: 'Update specified category'
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Номер страницы с результатами выдачи.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Номер страницы с результатами выдачи.'
            example: 1
        -
          in: query
          name: status
          description: 'Статус отображения (возможные значения visible, hidden). Must be one of <code>visible</code> or <code>hidden</code>.'
          example: hidden
          required: false
          schema:
            type: string
            description: 'Статус отображения (возможные значения visible, hidden). Must be one of <code>visible</code> or <code>hidden</code>.'
            example: hidden
        -
          in: query
          name: lang
          description: 'На каком языке возвращать результаты (возможные значения uk, en). Must be one of <code>uk</code> or <code>en</code>.'
          example: en
          required: false
          schema:
            type: string
            description: 'На каком языке возвращать результаты (возможные значения uk, en). Must be one of <code>uk</code> or <code>en</code>.'
            example: en
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Category of services'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sector_id:
                  type: integer
                  description: 'ID сферы услуг'
                  example: 11
                'name:en':
                  type: string
                  description: 'Название на английском'
                  example: quae
                'name:uk':
                  type: string
                  description: 'Название на украинском'
                  example: est
                'meta_title:en':
                  type: string
                  description: 'Тег title на английском'
                  example: dolorum
                'meta_title:uk':
                  type: string
                  description: 'Тег title на украинском'
                  example: dolore
                'meta_description:en':
                  type: string
                  description: 'Тег description на английском'
                  example: voluptatem
                'meta_description:uk':
                  type: string
                  description: 'Тег description на украинском'
                  example: provident
                status:
                  type: integer
                  description: 'Статус отображения (1-отображается, 0-скрыто)'
                  example: 5
    delete:
      summary: 'Delete specified category'
      description: ''
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - 'Category of services'
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the category.'
        example: 11
        required: true
        schema:
          type: integer
  /api/v1/web/categories:
    get:
      summary: 'List of categories'
      description: ''
      parameters:
        -
          in: query
          name: page
          description: 'Номер страницы с результатами выдачи.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Номер страницы с результатами выдачи.'
            example: 1
        -
          in: query
          name: status
[...]
